<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>blog list</title>
    <link rel="stylesheet" href="../assets/styles/reset.css">
    <link rel="stylesheet" href="../assets/styles/list_blog.css">
    <script src="../assets/scripts/list_blog.js"></script>
    <script src="https://kit.fontawesome.com/7f0baa76d3.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div class="logout_button">
            <a class="logout_header_button" href=""><i class="fas fa-sign-out-alt"></i> Logout</a>
        </div>    
    </header>
    <section class="display_mode">
        <div class="display_mode_container">
            <div class="display_mode_container_category">
                <p class="display_mode_container_category_text new active">News</p>
                <p class="display_mode_container_category_text hot">Hots</p>
            </div>
            <div class="display_mode_container_display">
                <div class="display_mode_container_mode mode1 active">
                    <p><i class="fas fa-list"></i></p>
                </div>
                <div class="display_mode_container_mode mode2">
                    <p><i class="fas fa-th-large"></i></p>
                </div>
            </div>
        </div>
    </section>

    <section class="article">
        <div class="article_container">
            <div class="article_card">
                <div class="article_card_stat">
                    <div class="article_card_rank">
                        <p>1</p>
                    </div>
                    <div class="article_card_upvote">
                        <i class="fas fa-thumbs-up"></i>
                        <p class="article_card_upvote_number">55</p>
                    </div>
                </div>
                <div class="article_card_name">
                    Disney repousse 5 de ses films Marvel et Indiana Jones 5
                </div>
                <div class="article_card_author">
                    <p>Fabz</p>
                </div>
                <div class="article_card_date">
                    <p>2021/44/24</p>
                </div>
                <div class="article_card_url">
                    <p>url</p>
                </div>
            </div>
        </div>
    </section>
</body>
</html>