<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="../assets/styles/reset.css">
    <link rel="stylesheet" href="../assets/styles/register.css">
    <script src="../assets/scripts/register.js"></script>
</head>
<body>
    <section class="register_section">
        <div class="register_container">
            <div class="section_presentation">
                <div class="section_presentation_container">
                    <h1 class="section_presentation_app_name">
                        RSS-PROJECT
                    </h1>
                    <h2 class="section_presentation_app_resum">
                        Disney repousse 5 de ses films Marvel et Indiana 
                        Jones 5
                    </h2>
                </div>
            </div>
            <div class="register_form">
                <div class="register_form_container">
                    <form action="" method="POST">
                        <div class="register_form_title">
                            <p class="register_form_title_text">Register</p>
                        </div>
                        <div class="register_email">
                            <label class="register_mail_label" for="register_email_input">Email</label>
                            <input type="text" name="email" class="register_email_input" id="register_email_input">
                        </div>
                        <div class="register_password">
                            <label class="register_password_label" for="register_password_input">Password</label>
                            <input type="text" name="password" class="register_password_input" id="register_password_input">
                        </div>
                        <div class="register_confirm">
                            <label class="register_confirm_label" for="register_confirm_input">Confirm password</label>
                            <input type="text" name="password" class="register_confirm_input" id="register_confirm_input">
                        </div>
                        <div class="register_end">
                            <input type="submit" value="Register">
                            <p class="register_end_login">Or <a class="register_end_login_link" href="">login</a> if you already have an account</p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</body>
</html>